#img-bg {
    background-image: url('../../assets/img/Admin-pana.png');
    min-height: 695px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 500px 500px;
}